@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.App-header {
  background: linear-gradient(0.25turn, #812a7b, #de0984);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Paper {
  display: flex;
  flex-direction: row;
  /* align-items: center;
  justify-content: center; */
  color: black;
  height: 80vh;
  width: 80vw;
  background: #ffffff;
  /* transition: box-shadow 0.3s ease; */
  box-shadow: 0 0px 7px 0 rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding-bottom: 35px;
}

/* .Paper:hover {
  box-shadow: 0 0px 7px 0 rgba(0, 0, 0, 1);
} */

.Paper-SideA {
  flex-grow: 1;
  margin: 30px 10px;
  justify-content: center;
}

.Paper-SideB {
  flex-grow: 1;
  margin: 30px 10px;
}

.breakdown {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 15px auto 0 auto;
  box-shadow: 0 0px 7px 0 rgba(0, 0, 0, 0.2);
  width: fit-content;
}

.breakdown-blockA {
  display: flex;
  flex-direction: column;
  padding: 15px 30px;
  border-right: 0.5px solid rgba(0, 0, 0, 0.1);
}

.breakdown-blockB {
  display: flex;
  flex-direction: column;
  padding: 15px 30px;
}

.AddTransaction {
  margin: 15px auto 0 auto;
  width: 55%;
}

.AddTransaction-header {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.25);
  margin-bottom: 7.5px;
  padding-bottom: 5px;
  width: 100%;
}

.AddTransaction-Top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 5px 0;
  width: 100%;
}

.AddTransaction-Bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 5px 0;
}

.addTransaction_input {
  width: 100%;
  padding: 10px;
  margin: 7.5px 0;
  outline: none;
  box-shadow: 0 0px 7px 0 rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 2.5px;
  box-sizing: border-box;
}

.addTransaction_input:focus {
  box-shadow: 0 0px 7px 0 rgba(211, 41, 132, 0.3);
}

.addTransaction_input:hover {
  box-shadow: 0 0px 7px 0 rgba(211, 18, 132, 0.3);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.Add-button {
  margin-top: 10px;
  width: 100%;
  padding: 10px 0;
  background: #812a7b;
  outline: none;
  border: none;
  color: white;
  box-shadow: 0 0px 7px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.2s;
}

.Add-button:hover {
  background: #de0984;
  transform: scale(1.02);
}

.Add-button:active {
  /* background: white;
  color: #de0984; */
  transform: scale(0.98);
  box-shadow: 0 0px 7px 0 rgba(211, 18, 132, 0.3);
}

.transactionHistory {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-top: 90px;
}

.transactionHistory-header {
  font-size: 25px;
  letter-spacing: 1px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.25);
  padding-bottom: 7.5px;
}

.transactionHistory-list {
  margin-block-start: 0em;
  padding-left: 0;
  border-radius: 5px;
}

.list {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.delete-transaction {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  height: 50%;
  opacity: 0;
  outline: none;
  transition: opacity 0.3s ease;
  margin: auto;
}

.delete-transaction:hover {
  transform: scale(1.02);
}

.delete-transaction:active {
  transform: scale(0.98);
  box-shadow: 0 0px 7px 0 rgba(211, 18, 132, 0.3);
}

.transactionHistory-list .list:hover .delete-transaction {
  opacity: 1;
}

.transactionHistory-listItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.15);
  margin-left: 15px;
  vertical-align: left;
  flex-grow: 1;
}

.transactionHistory-listItem:hover {
  background: #f5f5f5;
}

.transactionHistory-listItemA {
  flex-grow: 1;
  text-align: left;
  color: #a0a0a0;
  padding-left: 15px;
  font-size: 15px;
}

.transactionHistory-listItemB {
  flex-grow: 1;
  font-size: 15px;
}

.transactionHistory-listItemC {
  font-size: 15px;
  flex-grow: 1;
  text-align: right;
  padding-right: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-width: 95px;
}

.transactionHistory-value-expense {
  margin-right: 20px;
  vertical-align: middle;
  color: #ff5a52;
}

.transactionHistory-value-income {
  margin-right: 20px;
  vertical-align: middle;
  color: #54c22b;
}

.transactionHistory-icon {
  border: 1px solid #a0a0a0;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
  cursor: pointer;
  color: #a0a0a0;
}

.modal_container {
  position: fixed;
  /* top: 50vh;
  left: 50vw; */
  z-index: 500;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 20px;
  /* top: 30%;  */
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 25vw;
}

.modal_container_null {
  display: none;
}

.Backdrop {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.Loader_Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 80vw;
  background: #ffffff;
  box-shadow: 0 0px 7px 0 rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding-bottom: 35px;
}

.Loader {
  outline: none;
  background-color: transparent;
  border-color: transparent;
  border-width: 15px;
  border-style: solid;
  border-radius: 50%;
  font-size: 0;
  border-left-color: #d80b84;
  animation: rotating 2s 0.25s linear infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
